/*body and containers*/
body {
margin: 0;
padding: 20px;
background: #ebe8e8;
}

#bodycont {
display: flex;
align-items: flex-start;
gap: 20px;
background: #f8f1f1;
max-width: 95%;
height: auto;
padding: 40px;
border-radius: 60px;
box-shadow: 0 5px 10px #0003;
}

.container {
position: relative;
display: inline-block;
width: fit-content;
height: fit-content;
}

/*div*/
.selecao {
position: absolute;
border: 2px dashed #faf9f9;
background: rgba(41, 203, 209, 0.1);
pointer-events: auto;
display: none;
}

#box {
width: 100%;
height: auto;  
max-width: 900px; 
position: relative; 
display: inline-block;
}

#img_cropp {
width: 100%;
height: auto;
border-radius: 10px;
display: block;
}



/*show JSON*/
#users {
flex: 1;
border-radius: 10px;
max-width: 90%;
height: 90%;
}

.linha {
margin-bottom: 10px;
padding: 10px 15px;
border-left: 4px solid #10021d;
border-radius: 6px;
display: flex;
align-items: center;
gap: 10px;
}

.linha.destacado {
color: rgb(3, 138, 138);
font-weight: bold;
font-size: 15px;
}

.linha:hover {
background: #ffffff;
}

input[type="checkbox"] {
transform: scale(1.2);
cursor: pointer;
}

label {
font-size: 14px;
cursor: pointer;
}

.hidden-img{
    display: none;
}