@import "tailwindcss";

:root {
    --vinho-primario: #572023;
    --vinho-secundario: #602E31;
    --primary-color: #F8F9FA;
    --secondary-color: #292929;
    background-color: #F3F4F6
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -moz-appearance: textfield; /* remove em Firefox */
  appearance: textfield; /* remove em outros navegadores */

  outline: none; /* remove o contorno azul padrão */
}

/* Remove efeitos visuais ao focar */
input:focus {
  outline: none;
  box-shadow: none;
  
}
